html, body {
  margin: 0;
}

body {
  background: #000;
  font-size: 16px;
  padding: 2rem;
}

*{
  transition: all 0.33s 0.2s ease-in-out;
}

#cardsValidationForm {
  display: inline-flex;
  .form-group {
    display: flex;
  }

  input, button {
    padding: 0.25rem 0.5rem;
    border: 1px solid transparent;
    outline: none;
  }

  &.invalid {
    box-shadow: 0 0 10px 5px #f00;
  }

  &.valid {
    box-shadow: 0 0 10px 5px #0f0;
  }
}

.cards {
  display: flex;
  height: 25px;
  margin: 10px 0;
  padding-left: 0;
  list-style: none;

  .card {
    width:39px;
    height:25px;
    opacity:0.3;
    margin-right:4px;
    filter: grayscale(100);
    background-size: 39px;
    background-repeat: no-repeat;
    background-position-y: center;

    &.active {
      opacity:1;
      filter: grayscale(0);
    }

    &.mir{
      background-image:url(../img/mir.svg)
    }

    &.visa{
      background-image:url(../img/visa.svg)
    }

    &.visa_electron{
      background-image:url(../img/visa_electron.svg)
    }

    &.amex{
      background-image:url(../img/amex.svg)
    }

    &.jcb{
      background-image:url(../img/jcb.svg)
    }

    &.mastercard{
      background-image:url(../img/mastercard.svg)
    }

    &.maestro{
      background-image:url(../img/maestro.svg)
    }

    &.discover{
      background-image:url(../img/discover.svg)
    }

    &.diners{
      background-image:url(../img/diners.svg)
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
